<head>
    <title>My Django Project</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <center>
        <div class="jumbotron">
            <h2>Hello World!!</h2>
        </div>
        <p> You can access the
            <a href='/admin'>admin site</a> as well.</p>


    </center>
</body>